.article-list {
  list-style: none;
  padding: 0;
  margin: 5px 15px;
}

.article-card {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.article-img {
  border-radius: 5px;
  height: 90%;
  width: 90%;
  object-fit: contain;
}

.sort-form {
  margin-top: 5px;
}

article {
  background-color: white;
  margin: 15px;
  margin-top: 5px;
  border-radius: 10px;
  padding-bottom: 5px;
}

article p {
  background-color: #e6e6e6;
  margin: 15px;
  margin-top: 0;
  padding: 10px;
  border-radius: 10px;
  white-space: pre-line;
  text-align: left;
}

.article-topic {
  color: rgb(68, 59, 194);
}

.article-author {
  margin-left: 10px;
}

.article-date {
  margin-left: 10px;
}
