#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

h2 {
  margin: 10px 0px;
}

header {
  position: sticky;
  top: 0;
  height: 50px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  background-color: rgb(204, 204, 204);
}

h1 {
  margin: 0px;
  margin-top: 5px;
}

a {
  color: inherit;
  text-decoration: inherit;
  z-index: 999;
}

.article-list {
  list-style: none;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.article-card {
  background-color: rgb(204, 204, 204);
  margin-top: 15px;
  border-radius: 10px;
}

.article-img {
  border-radius: 5px;
  height: 90%;
  width: 90%;
  object-fit: contain;
}

article {
  background-color: rgb(204, 204, 204);
  margin: 15px;
  border-radius: 10px;
  padding-bottom: 5px;
}

article p {
  background-color: #e6e6e6;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  white-space: pre-line;
  text-align: left;
}

.comments h2 {
  text-align: left;
  margin-left: 15px;
}

.comments ul {
  list-style: none;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.comments li {
  border-radius: 10px;
  margin-bottom: 15px;
}

.comments img {
  height: 50px;
  width: 50px;
  min-width: 50px;
}

.comments p {
  background-color: #c9c9c9;
  margin: 0px 15px 0px 15px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

.comments #avatar-body {
  display: flex;
}
