#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.article-container {
  list-style: none;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.article-card {
  background-color: rgb(204, 204, 204);
  margin-top: 15px;
  border-radius: 10px;
}

.article-page {
  background-color: rgb(204, 204, 204);
  margin: 15px;
  border-radius: 10px;
  padding-bottom: 5px;
}

.article-body {
  background-color: #e6e6e6;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  white-space: pre-line;
  text-align: left;
}

img {
  border-radius: 5px;
  height: 90%;
  width: 90%;
  object-fit: contain;
}

h2 {
  margin: 10px 0px;
}

header {
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(204, 204, 204);
}

h1 {
  margin: 0px;
  margin-top: 5px;
}

a {
  color: inherit;
  text-decoration: inherit;
  z-index: 999;
}
